@font-face {
  font-family: "Joystix";
  src: url("../../fonts/joystix-monospace.ttf");
}

@font-face {
  font-family: "Fipps";
  src: url("../../fonts/Fipps-Regular.otf");
}

$primary-font: "Joystix";
$secondary-font: "Fipps";
