@font-face {
  font-family: "Aller";
  src: url("../../fonts/Aller_It.ttf");
}

@font-face {
  font-family: "Fipps";
  src: url("../../fonts/Fipps-Regular.otf");
}

$primary-font: "Aller";
$secondary-font: "Fipps";
