@import "../../styles/colors";
@import "../../styles/typography";

.button__btn {
  color: black;
  background-color:#F1EBE7;
  transition: 0.5s;
  background-size: 100% auto; 
  font-family: $primary-font;
  border-radius: 0px;
  font-size: 50%;
  display: inline-block;
  text-align: center;
  width:70%;
  height: auto
}

.button__btn:hover {
  cursor: pointer;
}
