div.markets__container {
  text-align: -webkit-center;
  h1.markets__header {
    text-align: center;
  }
  div.markets__div--collections {
    margin-top: -2em;
    margin-bottom: 2em;
  }
  
}
button.button__btn {
  background-color:#F1EBE7;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 0px;
  font-size: 80%
}

.button2 {
  background-color:#F1EBE7;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 0px;
  font-size: 80%;
  width: 20%;
  height: auto
}
