div.markets__container {
  text-align: -webkit-center;
  h1.markets__header {
    text-align: center;
  }
  div.markets__div--collections {
    margin-top: -2em;
    margin-bottom: 2em;
  }
  
}
button.button__btn {
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: #b88e84;
  border-radius: 15px;
}
